html{
    margin: 0;
    padding: 0;
    font-size: 24px;
}

body{
    margin: 0 auto;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    font-family: 'Roboto', sans-serif;
}

p{
    margin: 0;
}

aside{
    grid-column: 1 / 5 ;
    background:url(./img/clarisse-meyer-FnFsXj_vz0g-unsplash.jpg);
    background-size: cover;
    background-position-y: bottom;
    position: relative;
}

.banner{
    display: flex;
    background-color: rgb(19, 18, 18);
    opacity: 80%;
    position: relative;
    margin-top: 140px;
    justify-content: center;
    align-items: center;
    
    
}

.banner img{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 6em;
}

.banner_phrase{
    color: aliceblue;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 80px;
    
}

.author{
    position: absolute;
    bottom: 2%;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 12px;
}

main {
    grid-column: 5 / 13;
    background-color: rgb(247, 252, 253);
}

.first_section{
    height: 32%;
    position: relative;
}

.top_main{
    position: absolute;
    bottom: 8%;
}

.top_main p{
    font-size: 24px;
    margin: 1em;
    margin-left: 4em;
    margin-right: 12em;
}

.middle_section{
    height: 36%;
}

.form_container{
    background-color: #fff;
    box-shadow: 0px 2px 10px 1px rgb(219, 219, 219);
    height: 96%;
}


.form_title{
    padding-top: 1em;
    margin-left: 4em;
    margin-right: 12em;
}

.main_form{
    margin-top: 1em;
    margin-left: 4rem;
    margin-right: 12rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 29em;
    
}   

label, input{
    display: block;
    width: 300px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

label{
    font-size: 12px;
    margin-right: 1em;
}

input{
    appearance: none;
    margin-bottom: 1em;
    height: 2.5em;
    background-color: #fff;
    border-style: solid;
    border-radius: 0.5em;
    border-color: rgb(211, 211, 211);
}

input:invalid{
    border-color: lightcoral;
}

input:valid{
    border-color: lightseagreen;
}

.bottom_main{
    background-color:  rgb(247, 252, 253);
    height: 32%;
}

.bottom_main{
    margin-top: 1em;
    margin-left: 4rem;
    margin-right: 12rem;
}

button{
    padding: 1em 3em;
    font-size: 16px;
    font-weight: bold;
    background-color: lightblue;
    border-style: none;
    border-radius: 12px;
    color: #fff;
    margin-bottom: 2em;
    box-shadow: 0px 2px 3px rgb(211, 211, 211);
}

button:hover{
    background-color: rgb(143, 193, 209);
}

#log_in{
    color: rgb(5, 124, 163);
    text-decoration: none;
}